<?xml version="1.0"?>

<launch>

<arg name="vocabulary_path" default="$(find ORB_SLAM2v2)/Vocabulary/ORBvoc.txt"/>
<arg name="settings_path" default="$(find ORB_SLAM2v2)/config/Asus.yaml"/>




<node name="rgbd_node" pkg="ORB_SLAM2v2" type="rgbd_node" args="$(arg vocabulary_path) $(arg settings_path)" output="screen">
	<!--arg name="vocabulary_path" value="$(arg vocabulary_path)"/-->
	<!--arg name="settings_path" value="$(arg settings_path)"/-->
	
</node>     

<include file="$(find openni2_launch)/launch/openni2.launch"/>

</launch>

	




